.title_hidden {
  display: none;
}

.contact_input button, .skills__container button, .banner-desc__container button {
  background-color: #263238;
  border-radius: 15px;
  border: none;
  color: white;
  align-self: flex-start;
}

.nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adaptive-menu {
  display: none;
}

nav {
  margin: 57px 0 65px 0;
}

.nav__inner {
  justify-content: space-between;
}
.nav__inner header a {
  font-size: 36px;
  color: #000;
}
.nav__inner header span {
  color: gray;
}
.nav__inner ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}
.nav__inner ul li a {
  position: relative;
  color: #263238;
  font-size: 20px;
}
.nav__inner ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -3px;
  background-color: #263238;
  transition: 0.3s;
}
@media (hover: hover) {
  .nav__inner ul li a:hover::before {
    width: 100%;
  }
}
.nav__inner .nav-btn {
  background-color: white;
  border: 2px solid #263238;
  font-size: 24px;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
}
.nav__inner .nav-btn:hover {
  background-color: #263238;
  color: white;
}
@media (hover: hover) {
  .nav__inner .nav-btn:hover {
    background-color: #263238;
    color: white;
  }
}
.nav__inner .ham-btn {
  display: none;
  border: none;
  background: none;
}

@media screen and (max-width: 992px) {
  nav {
    margin: 30px 0 40px 0;
  }
  .nav__inner header {
    font-size: 30px;
  }
  .nav__inner .nav-links li a {
    font-size: 16px;
  }
  .nav__inner .nav-btn {
    font-size: 18px;
    padding: 10px 40px;
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none !important;
  }
  .nav__inner .nav-btn {
    display: none;
  }
  .nav__inner .ham-btn {
    display: block;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .adaptive-menu {
    display: none;
    flex-direction: column;
    padding-bottom: 15px;
    border: 2px solid #263238;
    border-radius: 15px;
  }
  .adaptive-menu ul {
    list-style-type: none !important;
    margin-right: 40px;
  }
  .adaptive-menu ul li a {
    color: #263238;
    font-size: 20px;
    width: 100%;
    display: block;
    padding: 15px 0 15px 0;
  }
  .adaptive-menu .nav-btn {
    background-color: white;
    border: 2px solid #263238;
    font-size: 24px;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin: 0 25px;
  }
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.banner-desc__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 550px;
}
.banner-desc__container p {
  font-size: 24px;
  margin: 20px 0 60px 0;
}
.banner-desc__container button {
  padding: 30px 110px;
  font-size: 36px;
  align-self: flex-start;
  white-space: nowrap;
}

.banner-img__container img {
  height: auto;
  width: 100%;
  max-width: 661px;
}

@media screen and (max-width: 992px) {
  .banner-desc__container {
    width: 65%;
  }
  .banner-desc__container h1 {
    margin-top: 0 !important;
    font-size: 48px;
    line-height: 64px;
  }
  .banner-desc__container p {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .banner-desc__container button {
    font-size: 24px;
    padding: 20px 75px;
  }
  .banner-desc__container .banner-img__container img {
    max-width: 460px;
  }
}
@media screen and (max-width: 767px) {
  .banner-desc__container {
    width: 45%;
  }
  .banner-desc__container h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .banner-desc__container p {
    font-size: 16px;
  }
  .banner-desc__container button {
    font-size: 18px;
    padding: 20px 65pxs;
  }
  .banner-img__container img {
    max-width: 352px;
  }
}
@media screen and (max-width: 575px) {
  .banner {
    flex-direction: column-reverse;
  }
  .banner-desc__container {
    width: 100%;
    text-align: center;
  }
  .banner-desc__container h1 {
    font-size: 30px;
  }
  .banner-desc__container p {
    font-size: 16px;
  }
  .banner-desc__container button {
    font-size: 18px;
    padding: 25px 100px;
    align-self: center;
  }
}
@media screen and (max-width: 360px) {
  .banner-desc__container h1 {
    font-size: 24px;
  }
  .banner-desc__container p {
    font-size: 14px;
  }
  .banner-desc__container button {
    font-size: 16px;
    padding: 15px 100px;
  }
}
.skills__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 18px;
  column-gap: 18px;
  margin-bottom: 50px;
}
.skills__container .skill_item {
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 35px 20px 0 20px;
}
.skills__container .item1 {
  grid-area: 1/1/3/2;
}
.skills__container .item2 {
  grid-area: 1/2/2/3;
}
.skills__container .item3 {
  grid-area: 1/3/2/4;
}
.skills__container .item4 {
  grid-area: 2/2/3/4;
}
.skills__container .skill_item:last-child {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.skills__container button {
  padding: 15px 60px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 35px;
  border-radius: 5px !important;
}

@media screen and (max-width: 1300px) {
  .skills__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .skills__container .skill_item {
    grid-area: auto;
  }
  .skills__container .skill_item img {
    max-width: 260px;
  }
  .skills__container .skill_item p {
    font-size: 20px;
  }
  .skills__container .item4 {
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;
  }
  .skills__container button {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 954px) {
  .skills__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .skill_item img {
    max-width: 450px !important;
  }
}
@media screen and (max-width: 575px) {
  .skill_item img {
    max-width: 260px !important;
  }
  .skill_item div p {
    font-size: 16px !important;
  }
}
.title_hidden {
  display: none;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about h2 {
  text-align: start;
  margin-bottom: 10px !important;
}

.about-counter {
  display: flex;
  justify-content: space-between;
}
.about-counter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_content span {
  color: #2A3246;
  font-size: 48px;
  font-weight: 600;
}
.about_content p {
  font-size: 20px;
}

.about_img img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-width: 500px;
}

@media screen and (max-width: 992px) {
  .about_img img {
    max-height: 336px;
    max-width: 336px;
  }
  .about_content h2 {
    font-size: 36px;
  }
  .about_content p {
    font-size: 16px;
  }
  .about-counter div span {
    font-size: 30px;
  }
  .about-counter div p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .about_content h2 {
    font-size: 30px;
  }
  .about_content p {
    font-size: 14px;
  }
  .about-counter div span {
    font-size: 22px;
  }
  .about-counter div p {
    font-size: 13px;
  }
  .about_img img {
    max-width: 295px;
    max-height: 295px;
  }
}
@media screen and (max-width: 630px) {
  .about {
    flex-direction: column-reverse;
  }
  .about_img img {
    max-width: 352px;
    max-height: 352px;
  }
  .about_content {
    width: 100%;
  }
  .about_content h2 {
    display: none;
  }
  .about_content p {
    text-align: center;
    font-size: 13px;
  }
  .about-counter div span {
    font-size: 24px;
  }
  .about-counter div p {
    font-size: 14px;
  }
  .title_hidden {
    display: block;
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  .about_img img {
    max-width: 283px;
    max-height: 283px;
  }
  .about_content p {
    font-size: 13px;
  }
  .about-counter {
    flex-direction: column;
    gap: 20px;
  }
}
.price__container {
  display: flex;
  height: 100%;
  gap: 30px;
}

.price__items {
  display: flex;
  flex-direction: column;
}
.price__items p {
  font-size: 20px;
  color: #8F95A5;
}
.price__items img {
  height: auto;
  width: 100%;
}

.price__cont {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 0 25px;
}

.price-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 30px;
  color: #263238;
}

.price_desc {
  font-size: 18px;
  color: #546269;
}

.price1 img {
  max-width: 311px;
}

.price2 img {
  max-width: 391px;
}

.price2 img {
  max-width: 340px;
}

@media screen and (max-width: 992px) {
  .price1 img {
    max-width: 222px;
  }
  .price2 img {
    max-width: 267px;
  }
  .price3 img {
    max-width: 242px;
  }
  .price__container h3 {
    font-size: 22px;
  }
  .price__container p {
    font-size: 16px;
  }
  .price {
    font-size: 24px;
  }
  .price_desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .price__container {
    flex-direction: column;
    align-items: center;
  }
  .price1 img {
    max-width: 291px;
  }
  .price2 img {
    max-width: 314px;
  }
  .price3 img {
    max-width: 253px;
  }
  .price__items h3 {
    text-align: center;
    font-size: 24px;
  }
  .price__items p {
    text-align: center;
    font-size: 14px;
  }
  .price__cont {
    align-self: center;
  }
}
@media screen and (max-width: 375px) {
  .price__items h3 {
    font-size: 18px;
  }
  .price__items p {
    font-size: 13px;
  }
  .price {
    font-size: 18px;
  }
  .price_desc {
    font-size: 14px;
  }
}
.contact {
  margin-top: 250px;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  align-items: center;
}

.contact-desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-desc h2 {
  text-align: left;
  margin: 0;
}
.contact-desc img {
  width: 100%;
  height: auto;
  max-width: 477px;
}
.contact-desc p {
  color: #8F95A5;
  font-size: 20px;
}

.contact_input {
  display: flex;
  gap: 10px;
}
.contact_input input {
  width: 80%;
  border-radius: 10px;
  padding: 30px;
  font-size: 16px;
  color: #8F95A5;
  border: 1px solid #8F95A5;
}
.contact_input button {
  padding: 30px 80px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .contact__container img {
    max-width: 312px;
  }
  .contact-desc h2 {
    font-size: 36px;
  }
  .contact-desc p {
    font-size: 16px;
  }
  .contact_input input {
    font-size: 14px;
    padding: 16px 35px;
  }
  .contact_input button {
    font-size: 16px;
    padding: 15px 50px;
  }
}
@media screen and (max-width: 890px) {
  .contact__container img {
    max-width: 233px;
  }
  .contact-desc h2 {
    font-size: 30px;
  }
  .contact-desc p {
    font-size: 14px;
  }
  .contact_input input {
    font-size: 12px;
    padding: 15px 25px;
  }
  .contact_input button {
    font-size: 13px;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 75px;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__container img {
    max-width: 358px;
  }
  .title_hidden {
    display: block;
  }
  .contact-desc h2 {
    display: none;
    font-size: 30px;
  }
  .contact-desc p {
    text-align: center;
    font-size: 16px;
  }
  .contact_input input {
    font-size: 13px;
    padding: 20px 25px;
  }
  .contact_input button {
    font-size: 16px;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 375px) {
  .contact__container {
    gap: 0 !important;
  }
  .contact__container img {
    max-width: 253px;
  }
  p {
    font-size: 14px;
  }
}
.contact_input {
  flex-direction: column;
}
.contact_input input {
  font-size: 12px;
  padding: 15px 25px;
  width: auto;
}
.contact_input button {
  font-size: 13px;
  padding: 15px 40px;
  width: 100%;
}

footer {
  margin-top: 80px;
}

.footer__container {
  padding: 25px 0;
  border-top: 1px solid #C4C4C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__container a {
  font-size: 20px;
  color: #8F95A5;
}
.footer__container header a {
  font-size: 36px;
  color: #000;
}
.footer__container header span {
  color: gray;
}

@media screen and (max-width: 992px) {
  .footer__container header {
    font-size: 30px;
  }
  .footer__container a {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .footer__container a {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .footer__container a {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__container header {
    font-size: 24px;
  }
  .footer__container a {
    font-size: 11px;
  }
}

* {
    scroll-behavior: smooth;
}

body {
  color: #8F95A5;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  max-width: 1345px;
  padding: 0 35px;
}

.active {
  display: flex !important;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0 !important;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
}

h2 {
  text-align: center;
  font-size: 48px;
  color: black;
  font-weight: 600;
  margin-bottom: 92px;
}

h3 {
  color: #263238;
  font-weight: 600;
  font-size: 30px;
  margin: 5px 0 5px 0;
}

/*# sourceMappingURL=style.css.map */
