.title_hidden {
    display: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        text-align: start;
        margin-bottom: 10px !important;
    }
}

.about-counter {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about_content {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        color:#2A3246;
        font-size: 48px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
    }
}

.about_img {
    img {
        width: 100%;
        height: auto;
        max-width: 500px;
        max-width: 500px;
    }
}

@media screen and (max-width: 992px) {
    .about_img {
        img {
            max-height: 336px;
            max-width: 336px;
        }
    }

    .about_content {
        h2 {
            font-size: 36px;
        }

        p {
            font-size: 16px;
        }
    }

    .about-counter {
        div {
            span {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .about_content {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }
    }

    .about-counter {
        div {
            span {
                font-size: 22px;
            }
            
            p {
                font-size: 13px;
            }
        }
        
    }

    .about_img {
        img {
            max-width: 295px;
            max-height: 295px;
        }
    }
}

@media screen and (max-width: 630px) {

    .about {
        flex-direction: column-reverse;
    }

    .about_img {
        img {
            max-width: 352px;
            max-height: 352px;
        }
    }

    .about_content {

        width: 100%;

        h2 {
            display: none;
        }

        p {
            text-align: center;
            font-size: 13px;
        }
    }

    .about-counter {
        div {
            span {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .title_hidden {
        display: block;
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .about_img {
        img {
            max-width: 283px;
            max-height: 283px;
        }
    }

    .about_content {
        p {
            font-size: 13px;
        }
    }

    .about-counter {
        flex-direction: column;
        gap: 20px;
    }
}